/* Place your CSS styles in this file */
h1 {
    color:forestgreen;
    font-family:auto;
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    text-size-adjust:auto;
    border:0px solid #748D92;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    height: 75px;
    background-color:#e1e7e9;
    
}
span {
  font-size: 50px;
  font-family: math;
  color: forestgreen;
}
/*navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: forestgreen;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: math;
  font-weight: bold;
}

li a:hover {
  background-color: #748D92;
}
div {
  padding:10px;
  margin: auto;
  font-size: 30px;
  vertical-align: top;
  text-align:left;
  background-color:#EDE8F5;
border:1px ;
color:black;
font-family: math;
}

